In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('New_Car_Automobile.csv')

In [3]:
data.head()

,car-name,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,10.779306,111.0,5000.0,21,27,13495.0
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,10.779306,111.0,5000.0,21,27,16500.0
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,10.779306,154.0,5000.0,19,26,16500.0
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.000000,102.0,5500.0,24,30,13950.0
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,10.779306,115.0,5500.0,18,22,17450.0

In [5]:
data.describe()

,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000
mean,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329751,3.255423,10.779306,103.344188,5125.369458,25.219512,30.751220,13207.129353
std,6.008536,12.310164,2.140487,2.438150,519.535431,41.551137,0.270248,0.312908,3.822719,40.489081,475.930402,6.527758,6.871303,7851.467858
min,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.500000,10.779306,4150.000000,13.000000,16.000000,5118.000000
25%,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.800000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.500000,95.000000,5200.000000,24.000000,30.000000,10595.000000
75%,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,10.779306,116.000000,5500.000000,30.000000,34.000000,16500.000000
max,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2050 entries, 0 to 2049
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car-name           2050 non-null   object
 1   fuel-type          2050 non-null   object
 2   aspiration         2050 non-null   object
 3   num-of-doors       2050 non-null   object
 4   body-style         2050 non-null   object
 5   drive-wheels       2050 non-null   object
 6   engine-location    2050 non-null   object
 7   wheel-base         2050 non-null   float64
 8   length             2050 non-null   float64
 9   width              2050 non-null   float64
 10  height             2050 non-null   float64
 11  curb-weight        2050 non-null   int64
 12  engine-type        2050 non-null   object
 13  num-of-cylinders   2050 non-null   object
 14  engine-size        2050 non-null   int64
 15  fuel-system        2050 non-null   object
 16  bore               2050 non-null   float64
 17  stroke             2050 non-null   float64
 18  compression-ratio  2050 non-null   float64
 19  horsepower         2050 non-null   float64
 20  peak-rpm           2050 non-null   float64
 21  city-mpg           2050 non-null   int64
 22  highway-mpg        2050 non-null   int64
 23  price              2050 non-null   float64
dtypes: float64(10), int64(4), object(10)
memory usage: 384.5+ KB

In [8]:
x = data.drop('price',axis = 1)

In [9]:
x

,car-name,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,four,130,mpfi,3.47,2.68,10.779306,111.0,5000.0,21,27
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,four,130,mpfi,3.47,2.68,10.779306,111.0,5000.0,21,27
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,six,152,mpfi,2.68,3.47,10.779306,154.0,5000.0,19,26
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,four,109,mpfi,3.19,3.40,10.000000,102.0,5500.0,24,30
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,five,136,mpfi,3.19,3.40,10.779306,115.0,5500.0,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2045,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,four,141,mpfi,3.78,3.15,9.500000,114.0,5400.0,23,28
2046,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,...,four,141,mpfi,3.78,3.15,8.700000,160.0,5300.0,19,25
2047,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,six,173,mpfi,3.58,2.87,8.800000,134.0,5500.0,18,23
2048,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,six,145,idi,3.01,3.40,23.000000,106.0,4800.0,26,27
2049,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,four,141,mpfi,3.78,3.15,9.500000,114.0,5400.0,19,25

In [10]:
y = data['price']

In [11]:
y

0       13495.0
1       16500.0
2       16500.0
3       13950.0
4       17450.0
         ...
2045    16845.0
2046    19045.0
2047    21485.0
2048    22470.0
2049    22625.0
Name: price, Length: 2050, dtype: float64

In [15]:
data['car-name'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [16]:
data['fuel-type'].unique()

array(['gas', 'diesel'], dtype=object)

In [17]:
data['aspiration'].unique()

array(['std', 'turbo'], dtype=object)

In [18]:
data['num-of-doors'].unique()

array(['two', 'four'], dtype=object)

In [19]:
data['body-style'].unique()

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [20]:
data['drive-wheels'].unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [21]:
data['engine-location'].unique()

array(['front', 'rear'], dtype=object)

In [22]:
data['fuel-system'].unique()

array(['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi'],
      dtype=object)

In [23]:
data['engine-type'].unique()

array(['dohc', 'ohcv', 'ohc', 'rotor', 'ohcf', 'dohcv'], dtype=object)

In [24]:
data['num-of-cylinders'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [25]:
# So here as all columns consist of categorical data we will be encoding them 
# using the label Encoder technic
# the Label Encoder Technique will assign a number starting from Zero 
# to the unique values in the data

In [26]:
from sklearn.preprocessing import LabelEncoder

In [27]:
le=LabelEncoder()

In [28]:
x[['car-name','fuel-type','aspiration','num-of-doors','body-style','drive-wheels','engine-location','engine-type','num-of-cylinders','fuel-system']]=x[['car-name','fuel-type','aspiration','num-of-doors','body-style','drive-wheels','engine-location','engine-type','num-of-cylinders','fuel-system']].apply(le.fit_transform)

In [29]:
x

,car-name,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
0,0,1,0,1,0,2,0,88.6,168.8,64.1,...,2,130,5,3.47,2.68,10.779306,111.0,5000.0,21,27
1,0,1,0,1,0,2,0,88.6,168.8,64.1,...,2,130,5,3.47,2.68,10.779306,111.0,5000.0,21,27
2,0,1,0,1,2,2,0,94.5,171.2,65.5,...,3,152,5,2.68,3.47,10.779306,154.0,5000.0,19,26
3,1,1,0,0,3,1,0,99.8,176.6,66.2,...,2,109,5,3.19,3.40,10.000000,102.0,5500.0,24,30
4,1,1,0,0,3,0,0,99.4,176.6,66.4,...,1,136,5,3.19,3.40,10.779306,115.0,5500.0,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2045,21,1,0,0,3,2,0,109.1,188.8,68.9,...,2,141,5,3.78,3.15,9.500000,114.0,5400.0,23,28
2046,21,1,1,0,3,2,0,109.1,188.8,68.8,...,2,141,5,3.78,3.15,8.700000,160.0,5300.0,19,25
2047,21,1,0,0,3,2,0,109.1,188.8,68.9,...,3,173,5,3.58,2.87,8.800000,134.0,5500.0,18,23
2048,21,0,1,0,3,2,0,109.1,188.8,68.9,...,3,145,3,3.01,3.40,23.000000,106.0,4800.0,26,27
2049,21,1,1,0,3,2,0,109.1,188.8,68.9,...,2,141,5,3.78,3.15,9.500000,114.0,5400.0,19,25

In [30]:
# so now all the columns are in numeric from
# if we want to get know what numbers it has has assigned to which to which values 
old_values=le.classes_

In [31]:
old_values

array(['1bbl', '2bbl', '4bbl', 'idi', 'mfi', 'mpfi', 'spdi', 'spfi'],
      dtype=object)

In [35]:
new_values=le.classes_

In [36]:
new_values

array(['1bbl', '2bbl', '4bbl', 'idi', 'mfi', 'mpfi', 'spdi', 'spfi'],
      dtype=object)

In [37]:
y=le.fit_transform(y)

In [38]:
y

array([118, 137, 137, ..., 164, 166, 167], dtype=int64)

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0)

In [41]:
x_train.shape

(1640, 23)

In [42]:
x_test.shape

(410, 23)

In [43]:
y_train.shape

(1640,)

In [44]:
y_test.shape

(410,)

In [46]:
from sklearn.linear_model import LinearRegression

In [47]:
lr = LinearRegression()

In [48]:
lr.fit(x_train,y_train)

LinearRegression()

In [49]:
y_pred = lr.predict(x_test)

In [50]:
y_pred

array([ 77.5183981 , 116.38264461, 176.25789691, 137.12051757,
       131.12263522, 147.41724141, 105.48154668,  89.64841651,
        33.13406747,  88.6754865 ,  40.27459744,  66.06330462,
        53.51049928,  84.24774827,  23.19498465, 184.53424618,
        36.98616791,  36.98616791, 139.12017617, 138.26444546,
        91.54724726,  24.96176464,  24.96176464, 128.61508493,
       127.26589763, 164.71824886, 170.79883745,  35.92342262,
        28.82687873,  -1.16090586,  38.47432641, 183.5902209 ,
       172.13535593,  62.4876648 , 136.47619561,  38.89460769,
        57.29851727, 138.26444546,  86.21973929,  33.7088794 ,
       170.79883745,  56.048393  , 115.38539074,  94.28160268,
        -1.16090586,  40.27459744, 183.5902209 ,  55.96772846,
        25.93704266,  88.86758308,  36.43220409,  12.21803086,
        67.86883536,  19.14772335,  31.38608306,  37.28942157,
       142.44538678,  89.64841651, 120.9769352 , 165.85162435,
       142.44538678,  -5.7016171 ,  58.18491272, 176.25789691,
        26.24129703,  75.90655757, 105.48154668,  88.28787231,
       170.79883745, 105.48154668, 136.41689298, 167.60235699,
        43.60877642, 208.64230425, 134.23501577,  19.14772335,
       179.31680277, 179.32693374,  77.40901133,  56.88436737,
       128.87785477,  54.86325274,  58.08982991,  33.7249918 ,
       117.98731957, 179.10287361,  75.1387445 , 123.72750831,
       138.26444546,  62.93261629, 128.87785477, 207.14874494,
        54.82239567,  62.93261629,  33.7249918 ,  79.89080904,
       150.69161049,  31.38608306, 142.44538678, 117.98568277,
       120.94629657,  35.63039387,  26.34033437, 208.64230425,
        94.16730537,  66.06330462, 135.95867576,  95.62304678,
       137.12051757,  91.54724726, 133.1097443 , 115.36584871,
        78.90563427,  30.31233361, 144.80348685,  90.98835428,
       198.73316931, 127.26589763, 133.1097443 , 118.43100353,
        18.40612357,  42.3026466 ,  46.47944728, 144.6421198 ,
        33.13406747, 198.73316931,  37.54271203,  35.92342262,
       135.24061167,  40.81681803, 153.10843276,  25.29840166,
       144.80348685, 136.30696301, 105.64411485, 128.52737325,
        32.71139023, 207.14874494,  70.92994509, 150.18930456,
       135.95867576,  57.27419437,  23.19498465, 120.9769352 ,
        27.50300375, 172.13535593,  97.05713047, 138.26444546,
       120.9769352 ,  80.50440852,  45.82799291,  54.86325274,
        40.1239384 ,  90.98835428,  24.96176464,  88.319464  ,
        98.9310523 ,  46.47944728,  33.81664085, 117.98568277,
        27.50300375, 120.84586816, 133.1097443 , 137.12051757,
       121.10886474, 134.23501577,  78.90563427, 150.67573904,
        24.38951635, 147.41724141, 151.97755441, 150.69161049,
       198.73316931, 113.20406743, 128.9959608 , 136.41689298,
       133.39509564, 179.10287361,  77.15215637, 141.63845883,
        73.85819865,  70.92994509,  15.46166122,  66.77722585,
       127.26589763,  35.92342262,  54.29815109, 183.5902209 ,
       129.27784758, 144.6421198 ,  36.43220409, 121.16297043,
       164.71824886,  18.67961488,  47.18426737,  56.88436737,
       105.64411485, 165.09523844,  36.43220409,  12.21803086,
        62.4876648 ,  56.88436737,  80.50440852,  28.82687873,
       128.87785477,  33.7088794 ,  -1.16090586,  71.90855958,
        -5.7016171 ,  80.50440852, 128.61508493,  43.60877642,
        54.82239567,  83.90782671,  66.06330462, 184.53424618,
       134.85927366, 113.20406743,  70.92994509,  26.24129703,
        76.66848067,  62.4876648 ,  49.45073006,  33.7088794 ,
        32.71139023, 116.52260823,  70.92994509, 136.41689298,
        88.64123287,  88.86758308,  30.64009405, 153.10843276,
        -5.7016171 ,  71.0221644 ,  83.55548204, 120.9769352 ,
       207.14874494,  91.54724726,  35.63039387, 184.53424618,
        28.82687873, 138.85875453,  90.98835428, 179.31680277,
       140.45259433,  86.21973929, 165.09523844,  94.41165722,
        83.55548204,  18.40612357,  30.31233361, 150.18930456,
       134.66854647,  88.64123287,  57.27419437, 105.48154668,
        71.44636593,  73.85819865,  90.98835428,  28.82687873,
       105.48154668, 141.63845883,  94.16730537, 135.24061167,
        75.90655757,  88.6754865 ,  27.41409663,  92.10329747,
       103.65598137, 137.08121877, 150.18930456, 147.41724141,
       135.95867576, 138.26444546,  98.97802368, 144.6421198 ,
        43.60877642,  40.27459744,  25.48198278, 136.41689298,
       176.25789691, 138.85875453, 120.84586816,  27.16841298,
        31.38608306, 134.85927366, 176.25789691, 137.12051757,
        79.89080904,  94.28160268,  33.13406747,  40.81681803,
       116.52260823, 153.69824151,  70.92994509,  81.9350084 ,
        25.48198278,  86.21973929,  30.31233361, 136.47619561,
       164.71824886,  88.28787231,  -1.16090586, 170.79883745,
       121.16297043, 198.73316931,  53.51049928, 139.96400075,
        53.51049928, 133.1097443 , 137.08121877,  92.10329747,
        35.63039387,  36.98616791,  88.86758308, 139.12017617,
        54.86325274,  57.29851727,  -1.16090586,  49.45073006,
        30.64009405,  24.38951635, 141.63845883,  65.80175474,
        42.3026466 ,  30.34104681,  40.27459744, 153.69824151,
       110.48152973, 140.45259433,  44.23912328, 105.48154668,
        43.83311648,  45.82799291, 105.64411485, 139.96400075,
        85.94533555, 134.66854647,  62.35459499,  26.24129703,
        57.69095104, 165.85162435,  40.81681803, 105.48154668,
       135.95867576,  25.29840166, 138.85875453,  37.54271203,
        49.45073006,  38.47432641, 135.35574288, 126.55981016,
        88.28787231, 153.69824151, 136.47619561, 113.14360883,
        66.77722585,  42.3026466 , 176.25789691,  86.21973929,
       103.65598137,  31.85487924, 140.45259433, 179.31680277,
       137.12051757,  54.82239567,  90.98835428,  64.70685395,
       198.73316931,  57.69095104,  77.5183981 ,  98.97802368,
       128.9959608 , 113.20406743,  31.85487924, 116.38264461,
        27.16841298,  88.319464  ,  71.44636593,  34.85047271,
       105.53900957, 134.85927366, 115.36584871,  34.85047271,
       198.73316931, 156.74515981, 184.53424618,  35.63039387,
       116.38264461,  88.319464  ,  57.27419437,  24.38951635,
        91.54724726, 156.74515981, 148.36638609, 170.79883745,
       128.9959608 , 165.85162435,  28.82687873,  92.10329747,
       116.38264461,  46.47944728,  88.64123287,  57.29851727,
        28.82687873,  76.66848067,  75.1387445 ,  84.24774827,
       156.74515981,  79.89080904])

In [51]:
y_test

array([ 87, 106, 176, 137, 147, 130,  94,  73,  52, 102,  34,  64,  82,
        86,  12, 184,  71,  71, 152, 144, 116,  16,  16, 134, 153, 169,
       178,  39,  11,   1,  34, 183, 172,  49, 114,   2,  45, 144,  99,
        41, 178,  48, 113,  78,   1,  34, 183,  47,   7,  84,  58,   7,
        42,   4,  40,  30, 157,  73, 110, 170, 157,  14,  55, 177,  18,
        61,  94,  91, 178,  94, 161, 168,  26, 182, 115,   4, 173, 186,
        79,  28, 139,  53,  77,  27, 109, 185,  63,  95, 151,  22, 139,
       181,  89,  22,  27,  66, 150,  40, 157, 148, 126,  20,  19, 182,
       100,  64, 119,  72, 137, 116, 143, 127,  74,  13, 160, 121, 175,
       153, 143, 129, 115,  59,  37, 166,  52, 180,   8,  39, 105,  10,
       142,   6, 160, 163, 120, 111,  36, 181,  65, 122, 119,  70,  12,
       110, 115, 172,  92, 144, 110,  83,  21,  53,  33, 121,  16,  80,
        96,  37,  17, 148, 115, 165, 143, 118, 125, 115,  74, 138,   9,
       130, 146, 150, 175, 136, 131, 161, 140, 185,  85, 132,  56,  90,
        25,  65, 153,  39,  44, 183, 117, 166,  58, 145, 169,   5,  44,
        28, 120, 171,  58,   7,  49,  28,  83,  11, 139,  41,   1, 101,
        14,  83, 134,  26,  89,  97,  64, 184, 119, 136,  65,  18,  93,
        49,  62,  41,  36, 149,  65, 161,  72,  84,  29, 142,  14,  75,
        81, 110, 181, 116,  20, 184,  11, 156, 121, 173, 124,  99, 171,
        60,  81, 115,  13, 122, 155,  72,  70, 103,  49,  56, 121,  11,
        94, 132, 100, 105,  61, 102,  43, 107, 154, 133, 122, 130, 119,
       151, 128, 166,  26,  34,  32, 161, 177, 156, 165,  20,  40, 119,
       176, 118,  66,  78,  52,  10, 149, 152,  90,  98,  32,  99,  13,
       114, 169,  91,   1, 178, 145, 175,  82, 164,  82, 143, 133, 107,
        41,  71,  84, 152,  53,  45,   1,  62,  29,   9, 132,  50,  59,
        15,  34, 152, 123, 124,  57,  94,  31,  21, 120, 164,  76, 155,
        51,  18,  69, 170,  10,  94, 119,   6, 156,   8,  62,  34, 135,
       162,  91, 152, 114, 104,  65,  59, 176,  99, 154,   0, 124, 173,
       137,  89, 121,  68, 180,  69,  87, 128, 131, 136,   0, 106,  20,
        80,  49,  24, 112, 119, 127,  24, 175, 179, 184,  41, 106,  80,
        70,   9, 116, 179, 158, 178, 131, 170,  11, 107, 106,  37,  72,
        45,  11,  93,  63,  86, 179,  66], dtype=int64)

In [56]:
from sklearn.metrics import mean_squared_error,r2_score

In [57]:
mse = mean_squared_error(y_test,y_pred)

In [58]:
mse

368.91232341206575

In [59]:
print(r2_score(y_true=y_test, y_pred=y_pred))

0.876612042845406