In [111]:
import pandas as pd
import numpy as np

In [112]:
d1=pd.read_csv('New_Car_Automobile.csv')

In [113]:
d1

,car-name,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,10.779306,111.0,5000.0,21,27,13495.0
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,10.779306,111.0,5000.0,21,27,16500.0
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,10.779306,154.0,5000.0,19,26,16500.0
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.000000,102.0,5500.0,24,30,13950.0
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,10.779306,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2045,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,141,mpfi,3.78,3.15,9.500000,114.0,5400.0,23,28,16845.0
2046,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,...,141,mpfi,3.78,3.15,8.700000,160.0,5300.0,19,25,19045.0
2047,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,173,mpfi,3.58,2.87,8.800000,134.0,5500.0,18,23,21485.0
2048,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,145,idi,3.01,3.40,23.000000,106.0,4800.0,26,27,22470.0
2049,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,141,mpfi,3.78,3.15,9.500000,114.0,5400.0,19,25,22625.0

In [114]:
# low--> 0.0 to 0.3   (-0.3 to 0.3)
# moderate--> 0.3 to 0.7  (-0.7 to -0.3)
# high--> 0.7 to 1.0    (-1 to 0.7)

d1.corr()

,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
wheel-base,1.000000,0.874587,0.795144,0.589435,0.776386,0.569329,0.488760,0.160944,0.251709,0.352735,-0.360704,-0.470414,-0.544082,0.583168
length,0.874587,1.000000,0.841118,0.491029,0.877728,0.683360,0.606462,0.129522,0.180071,0.530626,-0.287031,-0.670909,-0.704662,0.682986
width,0.795144,0.841118,1.000000,0.279210,0.867032,0.735433,0.559152,0.182939,0.193392,0.618673,-0.219859,-0.642704,-0.677218,0.728699
height,0.589435,0.491029,0.279210,1.000000,0.295572,0.067149,0.171101,-0.055351,0.267052,-0.099176,-0.320602,-0.048640,-0.107358,0.134388
curb-weight,0.776386,0.877728,0.867032,0.295572,1.000000,0.850594,0.648485,0.168783,0.190679,0.732933,-0.266283,-0.757414,-0.797465,0.820825
engine-size,0.569329,0.683360,0.735433,0.067149,0.850594,1.000000,0.583798,0.203094,0.077123,0.786791,-0.244599,-0.653658,-0.677470,0.861752
bore,0.488760,0.606462,0.559152,0.171101,0.648485,0.583798,1.000000,-0.055909,0.035590,0.549850,-0.254761,-0.584508,-0.586992,0.532300
stroke,0.160944,0.129522,0.182939,-0.055351,0.168783,0.203094,-0.055909,1.000000,0.199107,0.039539,-0.066844,-0.042179,-0.043961,0.082095
compression-ratio,0.251709,0.180071,0.193392,0.267052,0.190679,0.077123,0.035590,0.199107,1.000000,-0.143371,-0.469475,0.275191,0.217605,0.108557
horsepower,0.352735,0.530626,0.618673,-0.099176,0.732933,0.786791,0.549850,0.039539,-0.143371,1.000000,0.127552,-0.774538,-0.751598,0.748503
peak-rpm,-0.360704,-0.287031,-0.219859,-0.320602,-0.266283,-0.244599,-0.254761,-0.066844,-0.469475,0.127552,1.000000,-0.113723,-0.054257,-0.100854
city-mpg,-0.470414,-0.670909,-0.642704,-0.048640,-0.757414,-0.653658,-0.584508,-0.042179,0.275191,-0.774538,-0.113723,1.000000,0.971337,-0.667449
highway-mpg,-0.544082,-0.704662,-0.677218,-0.107358,-0.797465,-0.677470,-0.586992,-0.043961,0.217605,-0.751598,-0.054257,0.971337,1.000000,-0.690526
price,0.583168,0.682986,0.728699,0.134388,0.820825,0.861752,0.532300,0.082095,0.108557,0.748503,-0.100854,-0.667449,-0.690526,1.000000

In [115]:
d1.describe()

,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000
mean,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329751,3.255423,10.779306,103.344188,5125.369458,25.219512,30.751220,13207.129353
std,6.008536,12.310164,2.140487,2.438150,519.535431,41.551137,0.270248,0.312908,3.822719,40.489081,475.930402,6.527758,6.871303,7851.467858
min,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.500000,10.779306,4150.000000,13.000000,16.000000,5118.000000
25%,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.800000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.500000,95.000000,5200.000000,24.000000,30.000000,10595.000000
75%,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,10.779306,116.000000,5500.000000,30.000000,34.000000,16500.000000
max,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [136]:
# input
x=d1.iloc[:,[0,1,2,3,4,5,6,7,8,9,11,14,16,19]]

In [137]:
x

,car-name,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,curb-weight,engine-size,bore,horsepower
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,2548,130,3.47,111.0
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,2548,130,3.47,111.0
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,2823,152,2.68,154.0
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,2337,109,3.19,102.0
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,2824,136,3.19,115.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2045,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,2952,141,3.78,114.0
2046,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,3049,141,3.78,160.0
2047,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,3012,173,3.58,134.0
2048,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,3217,145,3.01,106.0
2049,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,3062,141,3.78,114.0

In [138]:
d1['car-name'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [139]:
from sklearn.preprocessing import LabelEncoder

In [140]:
from sklearn.preprocessing import LabelEncoder

In [141]:
x[['car-name','fuel-type','aspiration','num-of-doors','body-style','drive-wheels','engine-location']]=x[['car-name','fuel-type','aspiration','num-of-doors','body-style','drive-wheels','engine-location']].apply(le.fit_transform)

C:\Users\USER\anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [142]:
x

,car-name,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,curb-weight,engine-size,bore,horsepower
0,0,1,0,1,0,2,0,88.6,168.8,64.1,2548,130,3.47,111.0
1,0,1,0,1,0,2,0,88.6,168.8,64.1,2548,130,3.47,111.0
2,0,1,0,1,2,2,0,94.5,171.2,65.5,2823,152,2.68,154.0
3,1,1,0,0,3,1,0,99.8,176.6,66.2,2337,109,3.19,102.0
4,1,1,0,0,3,0,0,99.4,176.6,66.4,2824,136,3.19,115.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2045,21,1,0,0,3,2,0,109.1,188.8,68.9,2952,141,3.78,114.0
2046,21,1,1,0,3,2,0,109.1,188.8,68.8,3049,141,3.78,160.0
2047,21,1,0,0,3,2,0,109.1,188.8,68.9,3012,173,3.58,134.0
2048,21,0,1,0,3,2,0,109.1,188.8,68.9,3217,145,3.01,106.0
2049,21,1,1,0,3,2,0,109.1,188.8,68.9,3062,141,3.78,114.0

In [143]:
from sklearn.preprocessing import StandardScaler

In [144]:
# sc=StandardScaler()

In [91]:
# x[['curb-weight','engine-size','horsepower']]=sc.fit_transform(x[['curb-weight','engine-size','horsepower']])

<ipython-input-91-64e0a70c543a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[['curb-weight','engine-size','horsepower']]=sc.fit_transform(x[['curb-weight','engine-size','horsepower']])
C:\Users\USER\anaconda3\lib\site-packages\pandas\core\indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

In [145]:
x

,car-name,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,curb-weight,engine-size,bore,horsepower
0,0,1,0,1,0,2,0,88.6,168.8,64.1,2548,130,3.47,111.0
1,0,1,0,1,0,2,0,88.6,168.8,64.1,2548,130,3.47,111.0
2,0,1,0,1,2,2,0,94.5,171.2,65.5,2823,152,2.68,154.0
3,1,1,0,0,3,1,0,99.8,176.6,66.2,2337,109,3.19,102.0
4,1,1,0,0,3,0,0,99.4,176.6,66.4,2824,136,3.19,115.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2045,21,1,0,0,3,2,0,109.1,188.8,68.9,2952,141,3.78,114.0
2046,21,1,1,0,3,2,0,109.1,188.8,68.8,3049,141,3.78,160.0
2047,21,1,0,0,3,2,0,109.1,188.8,68.9,3012,173,3.58,134.0
2048,21,0,1,0,3,2,0,109.1,188.8,68.9,3217,145,3.01,106.0
2049,21,1,1,0,3,2,0,109.1,188.8,68.9,3062,141,3.78,114.0

In [146]:
# output
y=d1.iloc[:,[23]]

In [163]:
y=le.fit_transform(y)

C:\Users\USER\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [164]:
y

array([118, 137, 137, ..., 164, 166, 167], dtype=int64)

In [165]:
from sklearn.model_selection import train_test_split

In [166]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)

In [167]:
x_train.shape

(1640, 14)

In [168]:
x_test.shape

(410, 14)

In [169]:
y_train.shape

(1640,)

In [170]:
y_test.shape

(410,)

In [171]:
from sklearn.svm import SVR

In [172]:
svr=SVR()

In [173]:
svr.fit(x_train,y_train)

SVR()

In [174]:
y_pred=svr.predict(x_test)

In [175]:
y_pred

array([ 86.73991849,  52.87137172,  74.94912591, 101.40364361,
       111.74627519,  79.17754723, 113.63819355, 111.28236133,
       141.78070893, 130.14108653,  43.27854959,  63.44113513,
        60.58447552,  99.1674822 , 171.65602465,  63.67445544,
        65.92317118, 110.69873673,  66.16963371, 170.16031814,
        42.35287879,  74.94912591,  43.27854959,  84.10975645,
        61.90880331,  72.58772928, 179.90000181,  36.57508337,
        39.87539764,  49.71613961,  20.76388429, 123.81834106,
        43.98987354,  48.50975   , 124.39376544,  41.37251731,
       122.08379339,  79.59936915,  34.90174525,  41.37251731,
       111.28236133,  34.89121724, 111.28236133,  37.28653743,
        56.50610641, 110.69873673,  37.39447688,  71.48661886,
        65.92317118,  81.29280884, 113.63819355, 147.58478504,
        73.02009821,  49.71613961, 110.38298439, 131.2694331 ,
       168.66332437,  66.13757662,  62.97396983, 101.40364361,
         7.81847439,  66.13757662, 136.16960485,  28.97956115,
       120.17364578, 121.9723191 , 130.89821446,  98.39339135,
       110.38298439,  64.66932764,  66.13757662,  71.48661886,
       160.249597  , 110.43760116,  36.42483008,  63.44117803,
       130.14108653,  74.12169722,  73.19755523, 130.89821446,
       111.44433317,  68.92717195,  43.98987354, 106.72439771,
        65.92317118,  28.97956115,  84.10975645, 113.1077328 ,
        74.94912591, 113.1077328 ,  80.21262677,  65.95093751,
       123.81834106,  86.2868355 ,  56.41571501, 136.81444199,
       133.52677484,  33.58597454,  52.87137172,  88.66416225,
       159.23854918, 143.5203531 ,  36.82564871,  34.25282428,
        73.19755523,  54.61359234,  37.77079019,  40.21463275,
        37.28653743, 120.60462811,  68.02096061,  52.79783411,
        36.57508337,  79.17754723,  50.76735819, 106.72439771,
        73.02009821, 118.74394726, 127.04065523,  89.55266435,
       103.51479382, 159.23854918, 128.41235895, 131.75749481,
        44.98290096,  31.84971147,  41.37251731,  34.90174525,
       137.05820116, 119.76936949,  97.17931139,  34.94714078,
        40.21463275, 110.43760116,  74.12170369,  79.59936915,
        76.66777672, 153.16930709,  68.92717195, 119.02546822,
        64.92471338,  71.48661886,  97.17931139,  88.04884645,
       127.04065523,  66.16963371,  66.16963371,  36.82564871,
        72.58772928, 137.87114425,  51.48797064,  88.04884645,
       110.69873673,  43.27854959, 133.52677484,  63.44117803,
        50.76735819, 111.44433317,  67.22589347,  59.14448065,
       113.1077328 ,  63.44117803,  42.17946973, 135.79863283,
       160.249597  , 131.28549928,  51.48473274,  62.16438399,
        86.2868355 ,  42.97606393, 159.23854918,  68.17006285,
        75.77127223,  79.26500712,  87.63650869, 100.37204108,
        43.98987354,  73.08446642,  68.02096061,  75.3647299 ,
       118.74394726,  62.16438399,  38.54064491,  44.1255343 ,
        52.23131271,  62.41816464,  65.33049317,  83.35434787,
        44.1255343 , 105.7625138 , 119.02546822,  52.23131271,
        68.30229752,  47.4701376 ,  72.0782287 ,  60.58447552,
        36.42483008,  38.54385969, 142.48261229,  75.77122813,
        34.90174525,  68.92717195,  39.87539764,  31.84971147,
        76.66777672, 122.08379339,  76.12275393, 152.76076922,
        50.66399126, 170.90611234, 140.34022826, 123.81834106,
        62.97396983, 110.38298439, 131.28549928,  88.04884645,
        36.91302562,  36.82564871,  86.2868355 , 100.54977311,
        81.29280884,  37.39447688,  31.7179413 , 171.65602465,
       142.48261229, 129.02779539, 176.32305631,  99.1674822 ,
        58.11572221,  68.17006285, 146.15732198, 177.79244034,
       107.86212159,  72.01349511, 177.79244034, 128.41235895,
        72.58772928,  44.98290096,  56.50610641,  40.22969789,
       146.15732198, 119.02546822,  28.97956115,  68.17006285,
        34.24669431,  73.08446642,  96.3894507 , 111.28236133,
        68.30229752,  60.58447552,  89.55266435,  37.39447688,
        51.48797064,  84.10975645,  65.95093751,  78.07189603,
        89.81773964, 131.28549928,  73.19755523,  34.90174525,
        33.58597454,  96.3894507 ,  84.19744417, 171.65602465,
        84.19744417,  64.92471338,  73.19755523,  31.84971147,
       159.23854918,  36.42483008,  36.42483008,  39.87539764,
       177.79244034,  41.90834857,  57.51426241,  98.39339135,
        36.91302562, 144.12060069,  32.86187255, 129.55323486,
        40.21463275,  54.61359234,  41.37251731,  60.38716256,
        28.97956115,  61.90880331, 131.28549928, 120.17364578,
       129.91120683,  54.61359234, 141.78070893,  67.22589347,
       106.68258227,  72.58772928,  52.23131271, 101.40364361,
       111.44433317, 123.81834106,  89.81773964, 168.66332437,
        36.91302562,  79.59936915, 106.68258227, 113.63819355,
       137.56826835,  87.63650869, 127.04065523,  39.87539764,
        73.19755523, 144.12060069, 131.2694331 , 176.32305631,
        52.23131271,  88.04884645,  99.1674822 ,  65.95093751,
        88.66416225, 111.74627519,  73.02009821,  34.24669431,
       136.16960485,  74.93420295, 144.12060069,  52.23131271,
        34.90174525,  56.41571501, 143.5203531 ,  47.4701376 ,
       118.74394726, 176.32305631, 110.43760116,  41.90834857,
        20.76388429,  73.08446642, 144.12060069, 130.55850326,
        40.22969789,   7.81847439,  38.89999941, 160.30603117,
       105.7625138 , 102.17838323,  74.93420295,  79.59936915,
        50.66399126,  31.7179413 ,  52.79783411,  86.73991849,
        41.72260526,  84.19744417,  42.98164942,  79.17754723,
       168.66332437, 106.72439771,  41.37251731,  87.63650869,
        31.71917155,  36.57508337, 102.17838323,  62.97396983,
        63.44113513,  76.12275393,  86.2868355 ,  36.82564871,
        38.54064491,  58.36628196,  80.21262677,  41.72260526,
        42.17946973,  69.1273977 ,  43.27854959,  52.79783411,
        75.3647299 ,  58.36628196, 130.55850326,  89.81773964,
        50.66399126,  74.94912591,  88.66416225,  75.77127223,
       168.66332437,  32.83572693,  74.12169722,  86.28365233,
        75.3647299 , 160.249597  , 152.76076922,  66.16963371,
       101.98756709,  37.77079019, 106.72439771,  62.41816464,
       118.74394726,  42.35287879,  72.01349511, 144.12060069,
       135.79863283, 129.91120683,  73.19755523, 101.40364361,
        27.89027492, 152.76076922, 160.30603117,  68.17006285,
       122.08379339,  42.98164942,  42.35287879,  32.83572693,
       170.16031814, 101.98756709])

In [176]:
y_test

array([ 78,  42,  55, 127, 137,  79, 157, 110, 166, 115,  46,  48,  40,
        96, 174,  61,  85, 113,  65, 186,  30,  55,  46, 128, 101, 103,
       180,  16,   3,  33,  14, 149,  52,  43, 140,  19, 158,  98,   4,
        19, 110,   7, 110,  37,  44, 113,  35,  28,  85,  91, 157, 124,
       120,  33, 152, 130, 179,  77,  74, 127,   1,  77, 132,   5, 125,
       143, 119, 153, 152,  48,  77,  28, 182, 183,  24,  45, 115, 136,
        65, 119, 148,  22,  52, 176,  85,   5, 128, 150,  55, 150, 112,
        76, 149,  66,  41, 155, 119,   8,  42, 107, 171, 173,   9,  17,
        90,  54,  32,  41,  37, 134,  68,  31,  16,  79,  59, 176, 120,
       111, 164,  73,  95, 171, 117, 147,   0,  13,  19,   4, 161, 126,
       104,  18,  41, 183, 145,  98,  97, 185,  22, 138,  38,  28, 104,
        84, 164,  65,  65,   9,  94, 159,  49,  84, 113,  46, 119,  45,
        59, 148,  75,  82, 150,  45,  15, 152, 182, 141,  49,  44,  66,
        36, 171,  67,  83,  86, 137, 106,  52,  70,  68,  61, 111,  44,
        10,  12,  71,  51,  89, 131,  12, 129, 138,  71,  62,  27,  80,
        40,  24,  10, 108,  93,   4,  22,   3,   7,  97, 158,  53, 115,
        29, 172, 114, 149,  74, 152, 141,  84,  21,   9,  66, 154,  91,
        35, 115, 174, 108, 139, 184,  96,  50,  67, 142, 181, 165,  88,
       181, 117, 103,   0,  44,  20, 142, 138,   5,  67, 115,  70, 102,
       110,  62,  40,  73,  35,  49, 128,  76,  92, 121, 141,  90,   4,
         8, 102,  99, 174,  99,  38,  90,  13, 171,  24,  24,   3, 181,
        34,  57, 153,  21, 144,   2, 156,  20,  54,  19,  47,   5, 101,
       141, 125, 160,  54, 166,  75, 163,  94,  71, 127, 148, 149, 121,
       179,  21,  98, 163, 157, 133, 118, 164,   3,  65, 151, 130, 184,
        71,  84,  96,  76, 107, 137, 120, 115, 132,  72, 144,  71,   4,
        41, 173,  27, 111, 184, 183,  34,  14,  70, 151, 167,  20,   1,
        39, 170, 129, 100,  72,  98,  29, 115,  31,  78,  58,  99,  34,
        79, 179, 177,  19, 137,  11,  16, 100,  74,  48,  53,  66,   9,
        10,  56, 112,  58,  15, 123,  46,  31,  61,  56, 167, 121,  29,
        55, 107,  83, 179,   6, 136,  66,  87, 182, 115,  65, 162,  32,
       176,  51, 111,  30,  88, 151, 152, 160,  90, 127,  25, 115, 170,
        67, 158,  34,  30,   6, 186, 162], dtype=int64)

In [177]:
from sklearn.metrics import mean_squared_error

In [178]:
mse=mean_squared_error(y_test,y_pred)

In [179]:
mse

677.7396651350414