In [1]:
import numpy as np
import pandas as pd

In [3]:
d1=pd.read_csv('New_Car_Automobile.csv')

In [4]:
d1

,car-name,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,10.779306,111.0,5000.0,21,27,13495.0
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,10.779306,111.0,5000.0,21,27,16500.0
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,10.779306,154.0,5000.0,19,26,16500.0
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.000000,102.0,5500.0,24,30,13950.0
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,10.779306,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2045,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,141,mpfi,3.78,3.15,9.500000,114.0,5400.0,23,28,16845.0
2046,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,...,141,mpfi,3.78,3.15,8.700000,160.0,5300.0,19,25,19045.0
2047,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,173,mpfi,3.58,2.87,8.800000,134.0,5500.0,18,23,21485.0
2048,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,145,idi,3.01,3.40,23.000000,106.0,4800.0,26,27,22470.0
2049,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,141,mpfi,3.78,3.15,9.500000,114.0,5400.0,19,25,22625.0

In [5]:
d1.describe()

,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000
mean,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329751,3.255423,10.779306,103.344188,5125.369458,25.219512,30.751220,13207.129353
std,6.008536,12.310164,2.140487,2.438150,519.535431,41.551137,0.270248,0.312908,3.822719,40.489081,475.930402,6.527758,6.871303,7851.467858
min,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.500000,10.779306,4150.000000,13.000000,16.000000,5118.000000
25%,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.800000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.500000,95.000000,5200.000000,24.000000,30.000000,10595.000000
75%,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,10.779306,116.000000,5500.000000,30.000000,34.000000,16500.000000
max,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [6]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2050 entries, 0 to 2049
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car-name           2050 non-null   object
 1   fuel-type          2050 non-null   object
 2   aspiration         2050 non-null   object
 3   num-of-doors       2050 non-null   object
 4   body-style         2050 non-null   object
 5   drive-wheels       2050 non-null   object
 6   engine-location    2050 non-null   object
 7   wheel-base         2050 non-null   float64
 8   length             2050 non-null   float64
 9   width              2050 non-null   float64
 10  height             2050 non-null   float64
 11  curb-weight        2050 non-null   int64
 12  engine-type        2050 non-null   object
 13  num-of-cylinders   2050 non-null   object
 14  engine-size        2050 non-null   int64
 15  fuel-system        2050 non-null   object
 16  bore               2050 non-null   float64
 17  stroke             2050 non-null   float64
 18  compression-ratio  2050 non-null   float64
 19  horsepower         2050 non-null   float64
 20  peak-rpm           2050 non-null   float64
 21  city-mpg           2050 non-null   int64
 22  highway-mpg        2050 non-null   int64
 23  price              2050 non-null   float64
dtypes: float64(10), int64(4), object(10)
memory usage: 384.5+ KB

In [9]:
x=d1.drop('price',axis=1)

In [10]:
x

,car-name,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,four,130,mpfi,3.47,2.68,10.779306,111.0,5000.0,21,27
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,four,130,mpfi,3.47,2.68,10.779306,111.0,5000.0,21,27
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,six,152,mpfi,2.68,3.47,10.779306,154.0,5000.0,19,26
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,four,109,mpfi,3.19,3.40,10.000000,102.0,5500.0,24,30
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,five,136,mpfi,3.19,3.40,10.779306,115.0,5500.0,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2045,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,four,141,mpfi,3.78,3.15,9.500000,114.0,5400.0,23,28
2046,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,...,four,141,mpfi,3.78,3.15,8.700000,160.0,5300.0,19,25
2047,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,six,173,mpfi,3.58,2.87,8.800000,134.0,5500.0,18,23
2048,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,six,145,idi,3.01,3.40,23.000000,106.0,4800.0,26,27
2049,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,four,141,mpfi,3.78,3.15,9.500000,114.0,5400.0,19,25

In [11]:
y=d1['price']

In [12]:
y

0       13495.0
1       16500.0
2       16500.0
3       13950.0
4       17450.0
         ...
2045    16845.0
2046    19045.0
2047    21485.0
2048    22470.0
2049    22625.0
Name: price, Length: 2050, dtype: float64

In [24]:
d1['car-name'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [26]:
d1['car-name'].value_counts()

toyota           320
nissan           180
mazda            170
mitsubishi       130
honda            130
volkswagen       120
subaru           120
peugot           110
volvo            110
dodge             90
mercedes-benz     80
bmw               80
audi              70
plymouth          70
saab              60
porsche           50
isuzu             40
jaguar            30
alfa-romero       30
chevrolet         30
renault           20
mercury           10
Name: car-name, dtype: int64

In [27]:
d1['fuel-type'].value_counts()

gas       1850
diesel     200
Name: fuel-type, dtype: int64

In [28]:
d1['aspiration'].unique()

array(['std', 'turbo'], dtype=object)

In [29]:
d1['num-of-doors'].unique()

array(['two', 'four'], dtype=object)

In [30]:
d1['body-style'].unique()

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [31]:
d1['drive-wheels'].unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [32]:
d1['engine-location'].unique()

array(['front', 'rear'], dtype=object)

In [33]:
d1['fuel-system'].unique()

array(['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi'],
      dtype=object)

In [67]:
d1['engine-type'].unique()

array(['dohc', 'ohcv', 'ohc', 'rotor', 'ohcf', 'dohcv'], dtype=object)

In [69]:
d1['num-of-cylinders'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [34]:
# So here as all columns consist of categorical data we will be encoding them 
# using the label Encoder technic
# the Label Encoder Technique will assign a number starting from Zero 
# to the unique values in the data

In [35]:
from sklearn.preprocessing import LabelEncoder

In [36]:
le=LabelEncoder()

In [70]:
x[['car-name','fuel-type','aspiration','num-of-doors','body-style','drive-wheels','engine-location','engine-type','num-of-cylinders','fuel-system']]=x[['car-name','fuel-type','aspiration','num-of-doors','body-style','drive-wheels','engine-location','engine-type','num-of-cylinders','fuel-system']].apply(le.fit_transform)

In [71]:
x

,car-name,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
0,0,1,0,1,0,2,0,88.6,168.8,64.1,...,2,130,5,3.47,2.68,10.779306,111.0,5000.0,21,27
1,0,1,0,1,0,2,0,88.6,168.8,64.1,...,2,130,5,3.47,2.68,10.779306,111.0,5000.0,21,27
2,0,1,0,1,2,2,0,94.5,171.2,65.5,...,3,152,5,2.68,3.47,10.779306,154.0,5000.0,19,26
3,1,1,0,0,3,1,0,99.8,176.6,66.2,...,2,109,5,3.19,3.40,10.000000,102.0,5500.0,24,30
4,1,1,0,0,3,0,0,99.4,176.6,66.4,...,1,136,5,3.19,3.40,10.779306,115.0,5500.0,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2045,21,1,0,0,3,2,0,109.1,188.8,68.9,...,2,141,5,3.78,3.15,9.500000,114.0,5400.0,23,28
2046,21,1,1,0,3,2,0,109.1,188.8,68.8,...,2,141,5,3.78,3.15,8.700000,160.0,5300.0,19,25
2047,21,1,0,0,3,2,0,109.1,188.8,68.9,...,3,173,5,3.58,2.87,8.800000,134.0,5500.0,18,23
2048,21,0,1,0,3,2,0,109.1,188.8,68.9,...,3,145,3,3.01,3.40,23.000000,106.0,4800.0,26,27
2049,21,1,1,0,3,2,0,109.1,188.8,68.9,...,2,141,5,3.78,3.15,9.500000,114.0,5400.0,19,25

In [72]:
# so now all the columns are in numeric from
# if we want to get know what numbers it has has assigned to which to which values 
old_values=le.classes_

In [73]:
old_values

array([0, 1, 2, 3, 4, 5, 6, 7], dtype=int64)

In [74]:
le.classes_

array([0, 1, 2, 3, 4, 5, 6, 7], dtype=int64)

In [75]:
y=le.fit_transform(y)

In [76]:
y

array([118, 137, 137, ..., 164, 166, 167], dtype=int64)

In [77]:
from sklearn.model_selection import train_test_split

In [78]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0)

In [79]:
x_train.shape

(1640, 23)

In [80]:
x_test.shape

(410, 23)

In [81]:
y_train.shape

(1640,)

In [82]:
y_test.shape

(410,)

In [83]:
from sklearn.neighbors import KNeighborsRegressor

In [84]:
knr=KNeighborsRegressor()

In [85]:
knr.fit(x_train,y_train)

KNeighborsRegressor()

In [86]:
y_pred=knr.predict(x_test)

In [87]:
y_pred

array([ 76.6, 106. , 177. , 133.2, 147. , 130. ,  99.4,  73. ,  52. ,
       102. ,  34. ,  64. ,  82. ,  86. ,  12. , 184. ,  71. ,  71. ,
       152. , 145.4, 116. ,  16. ,  16. , 134. , 153. , 169. , 178. ,
        39. ,  31.8,   1. ,  34. , 183. , 172. ,  49. , 114. ,   2. ,
        45. , 145.4,  99. ,  41. , 178. ,  48. , 113. ,  78. ,   1. ,
        34. , 183. ,  47. ,   7. ,  84. ,  58. ,   7. ,  42. ,   4. ,
        40. ,  30. , 157. ,  73. , 110. , 170. , 157. ,  14. ,  55. ,
       177. ,  18. ,  61. ,  99.4,  91. , 178. ,  99.4, 161. , 168. ,
        26. , 182. , 115. ,   4. , 173. , 186. ,  79. ,  28. , 139. ,
        53. ,  77. ,  27. , 109. , 185. ,  63. ,  95. , 145.4,  22. ,
       139. , 181. ,  89. ,  22. ,  27. ,  66. , 150. ,  40. , 157. ,
       148. , 126. ,  36.8,  19. , 182. , 100. ,  64. , 119. ,  72. ,
       133.2, 116. , 143. , 127. ,  74. ,  13. , 160. , 121. , 177. ,
       153. , 143. , 129. , 115. ,  59. ,  37. , 166. ,  52. , 177. ,
         8. ,  39. , 105. ,  10. , 142. ,   6. , 160. , 163. , 120. ,
       111. ,  36. , 181. ,  80. , 122. , 119. ,  70. ,  12. , 110. ,
       115. , 172. ,  92. , 145.4, 110. ,  83. ,  21. ,  53. ,  33. ,
       121. ,  16. ,  80. ,  96. ,  37. ,  17. , 148. , 115. , 165. ,
       143. , 133.2, 125. , 115. ,  74. , 138. ,   9. , 130. , 146. ,
       150. , 177. , 136. , 131. , 161. , 140. , 185. ,  85. , 132. ,
        56. ,  80. ,  25. ,  65. , 153. ,  39. ,  44. , 183. , 117. ,
       166. ,  58. , 145. , 169. ,   5. ,  44. ,  28. , 120. , 171. ,
        58. ,   7. ,  49. ,  28. ,  83. ,  31.8, 139. ,  41. ,   1. ,
       101. ,  14. ,  83. , 134. ,  26. ,  89. ,  97. ,  64. , 184. ,
       119. , 136. ,  80. ,  18. ,  93. ,  49. ,  62. ,  41. ,  36. ,
       149. ,  80. , 161. ,  72. ,  84. ,  29. , 142. ,  14. ,  75. ,
        81. , 110. , 181. , 116. ,  36.8, 184. ,  31.8, 156. , 121. ,
       173. , 124. ,  99. , 171. ,  60. ,  81. , 115. ,  13. , 122. ,
       155. ,  72. ,  70. ,  99.4,  49. ,  56. , 121. ,  31.8,  99.4,
       132. , 100. , 105. ,  61. , 102. ,  43. , 107. , 154. , 133. ,
       122. , 130. , 119. , 145.4, 128. , 166. ,  26. ,  34. ,  32. ,
       161. , 177. , 156. , 165. ,  20. ,  40. , 119. , 177. , 133.2,
        66. ,  78. ,  52. ,  10. , 149. , 152. ,  80. ,  98. ,  32. ,
        99. ,  13. , 114. , 169. ,  91. ,   1. , 178. , 145. , 177. ,
        82. , 164. ,  82. , 143. , 133. , 107. ,  36.8,  71. ,  84. ,
       152. ,  53. ,  45. ,   1. ,  62. ,  29. ,   9. , 132. ,  50. ,
        59. ,  15. ,  34. , 152. , 123. , 124. ,  57. ,  99.4,  31. ,
        21. , 120. , 164. ,  76. , 155. ,  51. ,  18. ,  69. , 170. ,
        10. ,  99.4, 119. ,   6. , 156. ,   8. ,  62. ,  34. , 135. ,
       162. ,  91. , 152. , 114. , 104. ,  65. ,  59. , 177. ,  99. ,
       154. ,   0. , 124. , 173. , 133.2,  89. , 121. ,  68. , 177. ,
        69. ,  76.6, 128. , 131. , 136. ,   0. , 106. ,  20. ,  80. ,
        49. ,  24. , 112. , 119. , 127. ,  24. , 177. , 179. , 184. ,
        36.8, 106. ,  80. ,  70. ,   9. , 116. , 179. , 158. , 178. ,
       131. , 170. ,  31.8, 107. , 106. ,  37. ,  72. ,  45. ,  31.8,
        93. ,  63. ,  86. , 179. ,  66. ])

In [88]:
y_test

array([ 87, 106, 176, 137, 147, 130,  94,  73,  52, 102,  34,  64,  82,
        86,  12, 184,  71,  71, 152, 144, 116,  16,  16, 134, 153, 169,
       178,  39,  11,   1,  34, 183, 172,  49, 114,   2,  45, 144,  99,
        41, 178,  48, 113,  78,   1,  34, 183,  47,   7,  84,  58,   7,
        42,   4,  40,  30, 157,  73, 110, 170, 157,  14,  55, 177,  18,
        61,  94,  91, 178,  94, 161, 168,  26, 182, 115,   4, 173, 186,
        79,  28, 139,  53,  77,  27, 109, 185,  63,  95, 151,  22, 139,
       181,  89,  22,  27,  66, 150,  40, 157, 148, 126,  20,  19, 182,
       100,  64, 119,  72, 137, 116, 143, 127,  74,  13, 160, 121, 175,
       153, 143, 129, 115,  59,  37, 166,  52, 180,   8,  39, 105,  10,
       142,   6, 160, 163, 120, 111,  36, 181,  65, 122, 119,  70,  12,
       110, 115, 172,  92, 144, 110,  83,  21,  53,  33, 121,  16,  80,
        96,  37,  17, 148, 115, 165, 143, 118, 125, 115,  74, 138,   9,
       130, 146, 150, 175, 136, 131, 161, 140, 185,  85, 132,  56,  90,
        25,  65, 153,  39,  44, 183, 117, 166,  58, 145, 169,   5,  44,
        28, 120, 171,  58,   7,  49,  28,  83,  11, 139,  41,   1, 101,
        14,  83, 134,  26,  89,  97,  64, 184, 119, 136,  65,  18,  93,
        49,  62,  41,  36, 149,  65, 161,  72,  84,  29, 142,  14,  75,
        81, 110, 181, 116,  20, 184,  11, 156, 121, 173, 124,  99, 171,
        60,  81, 115,  13, 122, 155,  72,  70, 103,  49,  56, 121,  11,
        94, 132, 100, 105,  61, 102,  43, 107, 154, 133, 122, 130, 119,
       151, 128, 166,  26,  34,  32, 161, 177, 156, 165,  20,  40, 119,
       176, 118,  66,  78,  52,  10, 149, 152,  90,  98,  32,  99,  13,
       114, 169,  91,   1, 178, 145, 175,  82, 164,  82, 143, 133, 107,
        41,  71,  84, 152,  53,  45,   1,  62,  29,   9, 132,  50,  59,
        15,  34, 152, 123, 124,  57,  94,  31,  21, 120, 164,  76, 155,
        51,  18,  69, 170,  10,  94, 119,   6, 156,   8,  62,  34, 135,
       162,  91, 152, 114, 104,  65,  59, 176,  99, 154,   0, 124, 173,
       137,  89, 121,  68, 180,  69,  87, 128, 131, 136,   0, 106,  20,
        80,  49,  24, 112, 119, 127,  24, 175, 179, 184,  41, 106,  80,
        70,   9, 116, 179, 158, 178, 131, 170,  11, 107, 106,  37,  72,
        45,  11,  93,  63,  86, 179,  66], dtype=int64)

In [89]:
from sklearn.metrics import mean_squared_error

In [93]:
mse=mean_squared_error(y_test,y_pred)

In [94]:
mse

12.404487804878048

In [96]:
for k in range(1,20):
    knr=KNeighborsRegressor(n_neighbors=k)
    knr.fit(x_train,y_train)
    y_pred=knr.predict(x_test)
    mse=mean_squared_error(y_test,y_pred)
    print('k=',k,'mean_squared_error=',mse)

k= 1 mean_squared_error= 13.575609756097561
k= 2 mean_squared_error= 8.96280487804878
k= 3 mean_squared_error= 7.726287262872628
k= 4 mean_squared_error= 6.688871951219512
k= 5 mean_squared_error= 12.404487804878048
k= 6 mean_squared_error= 23.731978319783195
k= 7 mean_squared_error= 36.02633150821304
k= 8 mean_squared_error= 53.18506097560976
k= 9 mean_squared_error= 77.00716651610958
k= 10 mean_squared_error= 105.64782926829268
k= 11 mean_squared_error= 135.77544849828666
k= 12 mean_squared_error= 166.04517276422763
k= 13 mean_squared_error= 176.68363400202048
k= 14 mean_squared_error= 188.0321055251369
k= 15 mean_squared_error= 195.82269918699188
k= 16 mean_squared_error= 202.63922446646342
k= 17 mean_squared_error= 205.95236728837872
k= 18 mean_squared_error= 206.75979373682625
k= 19 mean_squared_error= 208.56808323761908

In [97]:
knr=KNeighborsRegressor(n_neighbors=4)

In [98]:
knr.fit(x_train,y_train)

KNeighborsRegressor(n_neighbors=4)

In [99]:
y_pred=knr.predict(x_test)

In [100]:
y_pred

array([ 74.  , 106.  , 177.  , 132.25, 147.  , 130.  ,  98.5 ,  73.  ,
        52.  , 102.  ,  34.  ,  64.  ,  82.  ,  86.  ,  12.  , 184.  ,
        71.  ,  71.  , 152.  , 145.75, 116.  ,  16.  ,  16.  , 134.  ,
       153.  , 169.  , 178.  ,  39.  ,  11.  ,   1.  ,  34.  , 183.  ,
       172.  ,  49.  , 114.  ,   2.  ,  45.  , 145.75,  99.  ,  41.  ,
       178.  ,  48.  , 113.  ,  78.  ,   1.  ,  34.  , 183.  ,  47.  ,
         7.  ,  84.  ,  58.  ,   7.  ,  42.  ,   4.  ,  40.  ,  30.  ,
       157.  ,  73.  , 110.  , 170.  , 157.  ,  14.  ,  55.  , 177.  ,
        18.  ,  61.  ,  98.5 ,  91.  , 178.  ,  98.5 , 161.  , 168.  ,
        26.  , 182.  , 115.  ,   4.  , 173.  , 186.  ,  79.  ,  28.  ,
       139.  ,  53.  ,  77.  ,  27.  , 109.  , 185.  ,  63.  ,  95.  ,
       145.75,  22.  , 139.  , 181.  ,  89.  ,  22.  ,  27.  ,  66.  ,
       150.  ,  40.  , 157.  , 148.  , 126.  ,  35.75,  19.  , 182.  ,
       100.  ,  64.  , 119.  ,  72.  , 132.25, 116.  , 143.  , 127.  ,
        74.  ,  13.  , 160.  , 121.  , 177.5 , 153.  , 143.  , 129.  ,
       115.  ,  59.  ,  37.  , 166.  ,  52.  , 177.5 ,   8.  ,  39.  ,
       105.  ,  10.  , 142.  ,   6.  , 160.  , 163.  , 120.  , 111.  ,
        36.  , 181.  ,  83.75, 122.  , 119.  ,  70.  ,  12.  , 110.  ,
       115.  , 172.  ,  92.  , 145.75, 110.  ,  83.  ,  21.  ,  53.  ,
        33.  , 121.  ,  16.  ,  80.  ,  96.  ,  37.  ,  17.  , 148.  ,
       115.  , 165.  , 143.  , 132.25, 125.  , 115.  ,  74.  , 138.  ,
         9.  , 130.  , 146.  , 150.  , 177.5 , 136.  , 131.  , 161.  ,
       140.  , 185.  ,  85.  , 132.  ,  56.  ,  83.75,  25.  ,  65.  ,
       153.  ,  39.  ,  44.  , 183.  , 117.  , 166.  ,  58.  , 145.  ,
       169.  ,   5.  ,  44.  ,  28.  , 120.  , 171.  ,  58.  ,   7.  ,
        49.  ,  28.  ,  83.  ,  11.  , 139.  ,  41.  ,   1.  , 101.  ,
        14.  ,  83.  , 134.  ,  26.  ,  89.  ,  97.  ,  64.  , 184.  ,
       119.  , 136.  ,  83.75,  18.  ,  93.  ,  49.  ,  62.  ,  41.  ,
        36.  , 149.  ,  83.75, 161.  ,  72.  ,  84.  ,  29.  , 142.  ,
        14.  ,  75.  ,  81.  , 110.  , 181.  , 116.  ,  35.75, 184.  ,
        11.  , 156.  , 121.  , 173.  , 124.  ,  99.  , 171.  ,  60.  ,
        81.  , 115.  ,  13.  , 122.  , 155.  ,  72.  ,  70.  ,  98.5 ,
        49.  ,  56.  , 121.  ,  11.  ,  98.5 , 132.  , 100.  , 105.  ,
        61.  , 102.  ,  43.  , 107.  , 154.  , 133.  , 122.  , 130.  ,
       119.  , 145.75, 128.  , 166.  ,  26.  ,  34.  ,  32.  , 161.  ,
       177.  , 156.  , 165.  ,  20.  ,  40.  , 119.  , 177.  , 132.25,
        66.  ,  78.  ,  52.  ,  10.  , 149.  , 152.  ,  83.75,  98.  ,
        32.  ,  99.  ,  13.  , 114.  , 169.  ,  91.  ,   1.  , 178.  ,
       145.  , 177.5 ,  82.  , 164.  ,  82.  , 143.  , 133.  , 107.  ,
        35.75,  71.  ,  84.  , 152.  ,  53.  ,  45.  ,   1.  ,  62.  ,
        29.  ,   9.  , 132.  ,  50.  ,  59.  ,  15.  ,  34.  , 152.  ,
       123.  , 124.  ,  57.  ,  98.5 ,  31.  ,  21.  , 120.  , 164.  ,
        76.  , 155.  ,  51.  ,  18.  ,  69.  , 170.  ,  10.  ,  98.5 ,
       119.  ,   6.  , 156.  ,   8.  ,  62.  ,  34.  , 135.  , 162.  ,
        91.  , 152.  , 114.  , 104.  ,  65.  ,  59.  , 177.  ,  99.  ,
       154.  ,   0.  , 124.  , 173.  , 132.25,  89.  , 121.  ,  68.  ,
       177.5 ,  69.  ,  74.  , 128.  , 131.  , 136.  ,   0.  , 106.  ,
        20.  ,  80.  ,  49.  ,  24.  , 112.  , 119.  , 127.  ,  24.  ,
       177.5 , 179.  , 184.  ,  35.75, 106.  ,  80.  ,  70.  ,   9.  ,
       116.  , 179.  , 158.  , 178.  , 131.  , 170.  ,  11.  , 107.  ,
       106.  ,  37.  ,  72.  ,  45.  ,  11.  ,  93.  ,  63.  ,  86.  ,
       179.  ,  66.  ])

In [101]:
y_test

array([ 87, 106, 176, 137, 147, 130,  94,  73,  52, 102,  34,  64,  82,
        86,  12, 184,  71,  71, 152, 144, 116,  16,  16, 134, 153, 169,
       178,  39,  11,   1,  34, 183, 172,  49, 114,   2,  45, 144,  99,
        41, 178,  48, 113,  78,   1,  34, 183,  47,   7,  84,  58,   7,
        42,   4,  40,  30, 157,  73, 110, 170, 157,  14,  55, 177,  18,
        61,  94,  91, 178,  94, 161, 168,  26, 182, 115,   4, 173, 186,
        79,  28, 139,  53,  77,  27, 109, 185,  63,  95, 151,  22, 139,
       181,  89,  22,  27,  66, 150,  40, 157, 148, 126,  20,  19, 182,
       100,  64, 119,  72, 137, 116, 143, 127,  74,  13, 160, 121, 175,
       153, 143, 129, 115,  59,  37, 166,  52, 180,   8,  39, 105,  10,
       142,   6, 160, 163, 120, 111,  36, 181,  65, 122, 119,  70,  12,
       110, 115, 172,  92, 144, 110,  83,  21,  53,  33, 121,  16,  80,
        96,  37,  17, 148, 115, 165, 143, 118, 125, 115,  74, 138,   9,
       130, 146, 150, 175, 136, 131, 161, 140, 185,  85, 132,  56,  90,
        25,  65, 153,  39,  44, 183, 117, 166,  58, 145, 169,   5,  44,
        28, 120, 171,  58,   7,  49,  28,  83,  11, 139,  41,   1, 101,
        14,  83, 134,  26,  89,  97,  64, 184, 119, 136,  65,  18,  93,
        49,  62,  41,  36, 149,  65, 161,  72,  84,  29, 142,  14,  75,
        81, 110, 181, 116,  20, 184,  11, 156, 121, 173, 124,  99, 171,
        60,  81, 115,  13, 122, 155,  72,  70, 103,  49,  56, 121,  11,
        94, 132, 100, 105,  61, 102,  43, 107, 154, 133, 122, 130, 119,
       151, 128, 166,  26,  34,  32, 161, 177, 156, 165,  20,  40, 119,
       176, 118,  66,  78,  52,  10, 149, 152,  90,  98,  32,  99,  13,
       114, 169,  91,   1, 178, 145, 175,  82, 164,  82, 143, 133, 107,
        41,  71,  84, 152,  53,  45,   1,  62,  29,   9, 132,  50,  59,
        15,  34, 152, 123, 124,  57,  94,  31,  21, 120, 164,  76, 155,
        51,  18,  69, 170,  10,  94, 119,   6, 156,   8,  62,  34, 135,
       162,  91, 152, 114, 104,  65,  59, 176,  99, 154,   0, 124, 173,
       137,  89, 121,  68, 180,  69,  87, 128, 131, 136,   0, 106,  20,
        80,  49,  24, 112, 119, 127,  24, 175, 179, 184,  41, 106,  80,
        70,   9, 116, 179, 158, 178, 131, 170,  11, 107, 106,  37,  72,
        45,  11,  93,  63,  86, 179,  66], dtype=int64)

In [102]:
mse=mean_squared_error(y_test,y_pred)

In [103]:
mse

6.688871951219512