In [1]:
# importing libraries for EDA

import pandas as pd
import numpy as np

In [2]:
# loading data into dataframe

# sep='separator_symbol'--> it separates the data with the help of seperator symbol

ad=pd.read_csv('Automobile_data.csv')

In [3]:
# displaying the data

ad

,symboling,car-name,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,NaN,111.0,5000.0,21,27,13495.0
1,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,NaN,111.0,5000.0,21,27,16500.0
2,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,NaN,154.0,5000.0,19,26,16500.0
3,NaN,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,NaN,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,NaN,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2045,-1.0,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
2046,-1.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
2047,-1.0,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
2048,-1.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
2049,-1.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [4]:
# shape-->to know the number of rows and columns

ad.shape

(2050, 25)

In [5]:
# to konw the statistical information of the dataset 

ad.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,250.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2050.000000,2010.000000,2010.000000,1440.000000,2030.000000,2030.000000,2050.000000,2050.000000,2010.000000
mean,-1.120000,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329751,3.255423,10.779306,104.256158,5125.369458,25.219512,30.751220,13207.129353
std,0.325613,6.008536,12.310164,2.140487,2.438150,519.535431,41.551137,0.272925,0.316007,4.561555,39.626191,478.270290,6.527758,6.871303,7929.245565
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.500000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,-1.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.575000,70.000000,4800.000000,19.000000,25.000000,7775.000000
50%,-1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.300000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,-1.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.590000,3.410000,9.500000,116.000000,5500.000000,30.000000,34.000000,16500.000000
max,-1.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [6]:
#isna()--> is used to check the null values present in the dataset

ad.isna().sum()

symboling            1800
car-name                0
fuel-type               0
aspiration              0
num-of-doors           20
body-style              0
drive-wheels            0
engine-location         0
wheel-base              0
length                  0
width                   0
height                  0
curb-weight             0
engine-type           120
num-of-cylinders        0
engine-size             0
fuel-system             0
bore                   40
stroke                 40
compression-ratio     610
horsepower             20
peak-rpm               20
city-mpg                0
highway-mpg             0
price                  40
dtype: int64

In [7]:
# notna()--> to list out all the notnull values in the dataset 

ad.notna().sum()

symboling             250
car-name             2050
fuel-type            2050
aspiration           2050
num-of-doors         2030
body-style           2050
drive-wheels         2050
engine-location      2050
wheel-base           2050
length               2050
width                2050
height               2050
curb-weight          2050
engine-type          1930
num-of-cylinders     2050
engine-size          2050
fuel-system          2050
bore                 2010
stroke               2010
compression-ratio    1440
horsepower           2030
peak-rpm             2030
city-mpg             2050
highway-mpg          2050
price                2010
dtype: int64

In [8]:
# info()--> properties of the dataset

ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2050 entries, 0 to 2049
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          250 non-null    float64
 1   car-name           2050 non-null   object
 2   fuel-type          2050 non-null   object
 3   aspiration         2050 non-null   object
 4   num-of-doors       2030 non-null   object
 5   body-style         2050 non-null   object
 6   drive-wheels       2050 non-null   object
 7   engine-location    2050 non-null   object
 8   wheel-base         2050 non-null   float64
 9   length             2050 non-null   float64
 10  width              2050 non-null   float64
 11  height             2050 non-null   float64
 12  curb-weight        2050 non-null   int64
 13  engine-type        1930 non-null   object
 14  num-of-cylinders   2050 non-null   object
 15  engine-size        2050 non-null   int64
 16  fuel-system        2050 non-null   object
 17  bore               2010 non-null   float64
 18  stroke             2010 non-null   float64
 19  compression-ratio  1440 non-null   float64
 20  horsepower         2030 non-null   float64
 21  peak-rpm           2030 non-null   float64
 22  city-mpg           2050 non-null   int64
 23  highway-mpg        2050 non-null   int64
 24  price              2010 non-null   float64
dtypes: float64(11), int64(4), object(10)
memory usage: 400.5+ KB

In [9]:
# type()--> knowing the datatype of the dataset

type(ad)

pandas.core.frame.DataFrame

In [10]:
#head()--> Displaying the top five data from the dataset,by default gives rows

ad.head()

,symboling,car-name,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,NaN,111.0,5000.0,21,27,13495.0
1,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,NaN,111.0,5000.0,21,27,16500.0
2,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,NaN,154.0,5000.0,19,26,16500.0
3,NaN,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,NaN,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,NaN,115.0,5500.0,18,22,17450.0

In [11]:
#tail()--> Displaying the last five data from the dataset,by default gives rows 

ad.tail()

,symboling,car-name,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
2045,-1.0,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
2046,-1.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
2047,-1.0,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
2048,-1.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
2049,-1.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [12]:
# drop()--> to delete the useless column in our dataset
# inplace=True --> permanently deletes the column from the dataset,by default it is false
# axis=0 --> defines the row 
# axis=1 --> defines the column

ad.drop(['symboling'],inplace=True,axis=1)

In [13]:
ad

,car-name,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,NaN,111.0,5000.0,21,27,13495.0
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,NaN,111.0,5000.0,21,27,16500.0
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,NaN,154.0,5000.0,19,26,16500.0
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,NaN,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2045,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
2046,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
2047,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
2048,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
2049,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [14]:
# value_counts()-->counts the number of repeated values in the particular column

ad['fuel-type'].value_counts()

gas       1850
diesel     200
Name: fuel-type, dtype: int64

In [16]:
# unique()--> fetches the unique values in particular column

ad['car-name'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [17]:
# del(keyword)-->is used to delete the particular value from the dataset

# example:del DataFrame_Name['row number','column Number']

In [19]:
# type()-->to know the datatype of particular column
# if we pass single column to the type() it will always be of Series type

type(ad['car-name'])

pandas.core.series.Series

In [20]:
# if we pass more than one column in type() it will always be dataframe type

type(ad[['car-name','aspiration']])

pandas.core.frame.DataFrame

In [21]:
#dtypes keyword --> shows the datatype of each column in dataset

ad.dtypes

car-name              object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [22]:
# keys()--> returns all the column names/indexes name

ad.keys()

Index(['car-name', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style',
       'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width',
       'height', 'curb-weight', 'engine-type', 'num-of-cylinders',
       'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio',
       'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price'],
      dtype='object')

In [23]:
# count()--> returns the  total number of values in each column in dataset

ad.count()

car-name             2050
fuel-type            2050
aspiration           2050
num-of-doors         2030
body-style           2050
drive-wheels         2050
engine-location      2050
wheel-base           2050
length               2050
width                2050
height               2050
curb-weight          2050
engine-type          1930
num-of-cylinders     2050
engine-size          2050
fuel-system          2050
bore                 2010
stroke               2010
compression-ratio    1440
horsepower           2030
peak-rpm             2030
city-mpg             2050
highway-mpg          2050
price                2010
dtype: int64

In [24]:
# groupby()--> splits the data acccording to the category
# count()--> counts the total number of values  

ad.groupby('car-name')['price'].count()

car-name
alfa-romero       30
audi              60
bmw               80
chevrolet         30
dodge             90
honda            130
isuzu             20
jaguar            30
mazda            170
mercedes-benz     80
mercury           10
mitsubishi       130
nissan           180
peugot           110
plymouth          70
porsche           40
renault           20
saab              60
subaru           120
toyota           320
volkswagen       120
volvo            110
Name: price, dtype: int64

In [25]:
ad.isna().sum()

car-name               0
fuel-type              0
aspiration             0
num-of-doors          20
body-style             0
drive-wheels           0
engine-location        0
wheel-base             0
length                 0
width                  0
height                 0
curb-weight            0
engine-type          120
num-of-cylinders       0
engine-size            0
fuel-system            0
bore                  40
stroke                40
compression-ratio    610
horsepower            20
peak-rpm              20
city-mpg               0
highway-mpg            0
price                 40
dtype: int64

In [27]:
# Nmean=ad['normalized-losses'].mean()

In [28]:
# Nmean

In [29]:
# there were 41 null values in the normalized-losses column so we replaced them by the mean of that column

# ad['normalized-losses'].fillna(Nmean,inplace=True)

In [30]:
ad

,car-name,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,NaN,111.0,5000.0,21,27,13495.0
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,NaN,111.0,5000.0,21,27,16500.0
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,NaN,154.0,5000.0,19,26,16500.0
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,NaN,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2045,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
2046,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
2047,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
2048,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
2049,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [31]:
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2050 entries, 0 to 2049
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car-name           2050 non-null   object
 1   fuel-type          2050 non-null   object
 2   aspiration         2050 non-null   object
 3   num-of-doors       2030 non-null   object
 4   body-style         2050 non-null   object
 5   drive-wheels       2050 non-null   object
 6   engine-location    2050 non-null   object
 7   wheel-base         2050 non-null   float64
 8   length             2050 non-null   float64
 9   width              2050 non-null   float64
 10  height             2050 non-null   float64
 11  curb-weight        2050 non-null   int64
 12  engine-type        1930 non-null   object
 13  num-of-cylinders   2050 non-null   object
 14  engine-size        2050 non-null   int64
 15  fuel-system        2050 non-null   object
 16  bore               2010 non-null   float64
 17  stroke             2010 non-null   float64
 18  compression-ratio  1440 non-null   float64
 19  horsepower         2030 non-null   float64
 20  peak-rpm           2030 non-null   float64
 21  city-mpg           2050 non-null   int64
 22  highway-mpg        2050 non-null   int64
 23  price              2010 non-null   float64
dtypes: float64(10), int64(4), object(10)
memory usage: 384.5+ KB

In [32]:
# there were 2 null values in the num_of_door column so we replaced them by the mean of that column



ad['num-of-doors'].fillna('four',inplace=True)

In [33]:
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2050 entries, 0 to 2049
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car-name           2050 non-null   object
 1   fuel-type          2050 non-null   object
 2   aspiration         2050 non-null   object
 3   num-of-doors       2050 non-null   object
 4   body-style         2050 non-null   object
 5   drive-wheels       2050 non-null   object
 6   engine-location    2050 non-null   object
 7   wheel-base         2050 non-null   float64
 8   length             2050 non-null   float64
 9   width              2050 non-null   float64
 10  height             2050 non-null   float64
 11  curb-weight        2050 non-null   int64
 12  engine-type        1930 non-null   object
 13  num-of-cylinders   2050 non-null   object
 14  engine-size        2050 non-null   int64
 15  fuel-system        2050 non-null   object
 16  bore               2010 non-null   float64
 17  stroke             2010 non-null   float64
 18  compression-ratio  1440 non-null   float64
 19  horsepower         2030 non-null   float64
 20  peak-rpm           2030 non-null   float64
 21  city-mpg           2050 non-null   int64
 22  highway-mpg        2050 non-null   int64
 23  price              2010 non-null   float64
dtypes: float64(10), int64(4), object(10)
memory usage: 384.5+ KB

In [34]:
ad['engine-type'].unique()

array(['dohc', 'ohcv', 'ohc', nan, 'rotor', 'ohcf', 'dohcv'], dtype=object)

In [35]:
ad['engine-type'].fillna('ohcv',inplace=True)

In [36]:
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2050 entries, 0 to 2049
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car-name           2050 non-null   object
 1   fuel-type          2050 non-null   object
 2   aspiration         2050 non-null   object
 3   num-of-doors       2050 non-null   object
 4   body-style         2050 non-null   object
 5   drive-wheels       2050 non-null   object
 6   engine-location    2050 non-null   object
 7   wheel-base         2050 non-null   float64
 8   length             2050 non-null   float64
 9   width              2050 non-null   float64
 10  height             2050 non-null   float64
 11  curb-weight        2050 non-null   int64
 12  engine-type        2050 non-null   object
 13  num-of-cylinders   2050 non-null   object
 14  engine-size        2050 non-null   int64
 15  fuel-system        2050 non-null   object
 16  bore               2010 non-null   float64
 17  stroke             2010 non-null   float64
 18  compression-ratio  1440 non-null   float64
 19  horsepower         2030 non-null   float64
 20  peak-rpm           2030 non-null   float64
 21  city-mpg           2050 non-null   int64
 22  highway-mpg        2050 non-null   int64
 23  price              2010 non-null   float64
dtypes: float64(10), int64(4), object(10)
memory usage: 384.5+ KB

In [37]:
Bmean=ad['bore'].mean()

In [38]:
Bmean

3.3297512437810797

In [39]:
ad['bore'].fillna(Bmean,inplace=True)

In [40]:
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2050 entries, 0 to 2049
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car-name           2050 non-null   object
 1   fuel-type          2050 non-null   object
 2   aspiration         2050 non-null   object
 3   num-of-doors       2050 non-null   object
 4   body-style         2050 non-null   object
 5   drive-wheels       2050 non-null   object
 6   engine-location    2050 non-null   object
 7   wheel-base         2050 non-null   float64
 8   length             2050 non-null   float64
 9   width              2050 non-null   float64
 10  height             2050 non-null   float64
 11  curb-weight        2050 non-null   int64
 12  engine-type        2050 non-null   object
 13  num-of-cylinders   2050 non-null   object
 14  engine-size        2050 non-null   int64
 15  fuel-system        2050 non-null   object
 16  bore               2050 non-null   float64
 17  stroke             2010 non-null   float64
 18  compression-ratio  1440 non-null   float64
 19  horsepower         2030 non-null   float64
 20  peak-rpm           2030 non-null   float64
 21  city-mpg           2050 non-null   int64
 22  highway-mpg        2050 non-null   int64
 23  price              2010 non-null   float64
dtypes: float64(10), int64(4), object(10)
memory usage: 384.5+ KB

In [41]:
Smean=ad['stroke'].mean()

In [42]:
Smean

3.255422885572121

In [43]:
ad['stroke'].fillna(Smean,inplace=True)

In [44]:
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2050 entries, 0 to 2049
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car-name           2050 non-null   object
 1   fuel-type          2050 non-null   object
 2   aspiration         2050 non-null   object
 3   num-of-doors       2050 non-null   object
 4   body-style         2050 non-null   object
 5   drive-wheels       2050 non-null   object
 6   engine-location    2050 non-null   object
 7   wheel-base         2050 non-null   float64
 8   length             2050 non-null   float64
 9   width              2050 non-null   float64
 10  height             2050 non-null   float64
 11  curb-weight        2050 non-null   int64
 12  engine-type        2050 non-null   object
 13  num-of-cylinders   2050 non-null   object
 14  engine-size        2050 non-null   int64
 15  fuel-system        2050 non-null   object
 16  bore               2050 non-null   float64
 17  stroke             2050 non-null   float64
 18  compression-ratio  1440 non-null   float64
 19  horsepower         2030 non-null   float64
 20  peak-rpm           2030 non-null   float64
 21  city-mpg           2050 non-null   int64
 22  highway-mpg        2050 non-null   int64
 23  price              2010 non-null   float64
dtypes: float64(10), int64(4), object(10)
memory usage: 384.5+ KB

In [45]:
Cmean=ad['compression-ratio'].mean()

In [46]:
Cmean

10.779305555555531

In [47]:
ad['compression-ratio'].fillna(Cmean,inplace=True)

In [48]:
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2050 entries, 0 to 2049
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car-name           2050 non-null   object
 1   fuel-type          2050 non-null   object
 2   aspiration         2050 non-null   object
 3   num-of-doors       2050 non-null   object
 4   body-style         2050 non-null   object
 5   drive-wheels       2050 non-null   object
 6   engine-location    2050 non-null   object
 7   wheel-base         2050 non-null   float64
 8   length             2050 non-null   float64
 9   width              2050 non-null   float64
 10  height             2050 non-null   float64
 11  curb-weight        2050 non-null   int64
 12  engine-type        2050 non-null   object
 13  num-of-cylinders   2050 non-null   object
 14  engine-size        2050 non-null   int64
 15  fuel-system        2050 non-null   object
 16  bore               2050 non-null   float64
 17  stroke             2050 non-null   float64
 18  compression-ratio  2050 non-null   float64
 19  horsepower         2030 non-null   float64
 20  peak-rpm           2030 non-null   float64
 21  city-mpg           2050 non-null   int64
 22  highway-mpg        2050 non-null   int64
 23  price              2010 non-null   float64
dtypes: float64(10), int64(4), object(10)
memory usage: 384.5+ KB

In [49]:
Hmean=ad['horsepower'].mean()

In [50]:
Hmean

104.25615763546799

In [51]:
ad['horsepower'].fillna(Cmean,inplace=True)

In [52]:
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2050 entries, 0 to 2049
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car-name           2050 non-null   object
 1   fuel-type          2050 non-null   object
 2   aspiration         2050 non-null   object
 3   num-of-doors       2050 non-null   object
 4   body-style         2050 non-null   object
 5   drive-wheels       2050 non-null   object
 6   engine-location    2050 non-null   object
 7   wheel-base         2050 non-null   float64
 8   length             2050 non-null   float64
 9   width              2050 non-null   float64
 10  height             2050 non-null   float64
 11  curb-weight        2050 non-null   int64
 12  engine-type        2050 non-null   object
 13  num-of-cylinders   2050 non-null   object
 14  engine-size        2050 non-null   int64
 15  fuel-system        2050 non-null   object
 16  bore               2050 non-null   float64
 17  stroke             2050 non-null   float64
 18  compression-ratio  2050 non-null   float64
 19  horsepower         2050 non-null   float64
 20  peak-rpm           2030 non-null   float64
 21  city-mpg           2050 non-null   int64
 22  highway-mpg        2050 non-null   int64
 23  price              2010 non-null   float64
dtypes: float64(10), int64(4), object(10)
memory usage: 384.5+ KB

In [53]:
PRmean=ad['peak-rpm'].mean()

In [54]:
PRmean

5125.369458128079

In [55]:
ad['peak-rpm'].fillna(PRmean,inplace=True)

In [56]:
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2050 entries, 0 to 2049
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car-name           2050 non-null   object
 1   fuel-type          2050 non-null   object
 2   aspiration         2050 non-null   object
 3   num-of-doors       2050 non-null   object
 4   body-style         2050 non-null   object
 5   drive-wheels       2050 non-null   object
 6   engine-location    2050 non-null   object
 7   wheel-base         2050 non-null   float64
 8   length             2050 non-null   float64
 9   width              2050 non-null   float64
 10  height             2050 non-null   float64
 11  curb-weight        2050 non-null   int64
 12  engine-type        2050 non-null   object
 13  num-of-cylinders   2050 non-null   object
 14  engine-size        2050 non-null   int64
 15  fuel-system        2050 non-null   object
 16  bore               2050 non-null   float64
 17  stroke             2050 non-null   float64
 18  compression-ratio  2050 non-null   float64
 19  horsepower         2050 non-null   float64
 20  peak-rpm           2050 non-null   float64
 21  city-mpg           2050 non-null   int64
 22  highway-mpg        2050 non-null   int64
 23  price              2010 non-null   float64
dtypes: float64(10), int64(4), object(10)
memory usage: 384.5+ KB

In [57]:
Pmean=ad['price'].mean()

In [58]:
Pmean

13207.129353233831

In [59]:
ad['price'].fillna(Pmean,inplace=True)

In [60]:
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2050 entries, 0 to 2049
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car-name           2050 non-null   object
 1   fuel-type          2050 non-null   object
 2   aspiration         2050 non-null   object
 3   num-of-doors       2050 non-null   object
 4   body-style         2050 non-null   object
 5   drive-wheels       2050 non-null   object
 6   engine-location    2050 non-null   object
 7   wheel-base         2050 non-null   float64
 8   length             2050 non-null   float64
 9   width              2050 non-null   float64
 10  height             2050 non-null   float64
 11  curb-weight        2050 non-null   int64
 12  engine-type        2050 non-null   object
 13  num-of-cylinders   2050 non-null   object
 14  engine-size        2050 non-null   int64
 15  fuel-system        2050 non-null   object
 16  bore               2050 non-null   float64
 17  stroke             2050 non-null   float64
 18  compression-ratio  2050 non-null   float64
 19  horsepower         2050 non-null   float64
 20  peak-rpm           2050 non-null   float64
 21  city-mpg           2050 non-null   int64
 22  highway-mpg        2050 non-null   int64
 23  price              2050 non-null   float64
dtypes: float64(10), int64(4), object(10)
memory usage: 384.5+ KB

In [69]:
ad.to_csv('New_Car_Automobile.csv')

In [70]:
# list()--> returns the name of each column of dataset in the form of list

list(ad)

['car-name',
 'fuel-type',
 'aspiration',
 'num-of-doors',
 'body-style',
 'drive-wheels',
 'engine-location',
 'wheel-base',
 'length',
 'width',
 'height',
 'curb-weight',
 'engine-type',
 'num-of-cylinders',
 'engine-size',
 'fuel-system',
 'bore',
 'stroke',
 'compression-ratio',
 'horsepower',
 'peak-rpm',
 'city-mpg',
 'highway-mpg',
 'price']

In [71]:
# isnull()--> returns true if null value is present and false if no null values 
ad.isnull()

,car-name,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2045,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2046,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2047,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2048,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2049,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [72]:
# sum()--> returns the total number of null present in each column

ad.isnull().sum()

car-name             0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [73]:
ad

,car-name,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,10.779306,111.0,5000.0,21,27,13495.0
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,10.779306,111.0,5000.0,21,27,16500.0
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,10.779306,154.0,5000.0,19,26,16500.0
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.000000,102.0,5500.0,24,30,13950.0
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,10.779306,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2045,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,141,mpfi,3.78,3.15,9.500000,114.0,5400.0,23,28,16845.0
2046,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,...,141,mpfi,3.78,3.15,8.700000,160.0,5300.0,19,25,19045.0
2047,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,173,mpfi,3.58,2.87,8.800000,134.0,5500.0,18,23,21485.0
2048,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,145,idi,3.01,3.40,23.000000,106.0,4800.0,26,27,22470.0
2049,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,141,mpfi,3.78,3.15,9.500000,114.0,5400.0,19,25,22625.0